target
*/src/main/webapp/WEB-INF/classes/
*/src/main/webapp/WEB-INF/lib/
.classpath
.project
.settings
ChimeService/ChimeDB/*
Chime/src/main/webapp/chime
ChimeService/activemq-data
ChimeService/derby.log
ChimeService/index
ChimeService/ChimeDB/**
ChimeService/webapps/
ChimeService/logs/
.externalToolBuilders
