<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>chimeService</servlet-name>
        <servlet-class>com.paxxis.chime.server.endsliceServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chimeService</servlet-name>
        <url-pattern>/chime/chimeservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileManager</servlet-name>
        <servlet-class>com.paxxis.chime.filemanager.FileManager</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>FileManager</servlet-name>
        <url-pattern>/FileManager/*</url-pattern>
    </servlet-mapping>

	<servlet>
    	<servlet-name>EventService</servlet-name>
    	<servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>EventService</servlet-name>
    	<url-pattern>/chime/gwteventservice</url-pattern>
  	</servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
      <!-- Define the Login Configuration for this Application -->

      <!-- Security roles referenced by this web application -->
    <welcome-file-list>
        <welcome-file>Chime.html</welcome-file>
    </welcome-file-list>
</web-app>
